<header>
  <div class="fade-load-down header header-var2 ext-var4">
    <div class="container">
      <div class="wrapper-logo-banner">
        <div class="row">
          <div class="col-md-4">
            <div class="logo-wrapper">
              <a href="<%= root_path %>"><%= image_tag 'logo' %></a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="banner-login-wrapper">
              <div class="row">
                <div class="col-md-12">
                  <div class="wrapper-links">
                    <ul class="header-social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    <% if user_signed_in? %>

                    <span class="sign-in-buttons">
                      <%= link_to 'Edit', edit_user_registration_path, :class => 'login' %>
                      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'register' %>
                    </span>

                    <% else %>
                     <span class="sign-in-buttons">
                       <%= link_to 'Login', new_user_session_path, :class => 'login' %>
                       <%= link_to 'Register', new_user_registration_path, :class => 'register' %>
                     </span>

                    <% end %>
                  </div>

                </div>
              </div>
              <div class="banner-header">
                <a href="#">
                  <%= image_tag 'banner/header-banner.jpg' %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- nav-->

    <div class="top-nav">
      <div class="container">
        <nav class="responsive-menu">
          <ul>
            <li><a href="index.html">Home</a>
              <ul>
                <li><a href="variation1.html">variation one</a></li>
                <li><a href="variation2.html">variation two</a></li>
                <li><a href="variation3.html">variation three</a></li>
                <li><a href="variation4.html">variation four</a></li>
                <li><a href="variation5.html">variation five</a></li>
                <li><a href="variation6.html">variation six</a></li>
              </ul>
            </li>
            <li>
              <a href="recipe-listing.html">Recent Recipes</a>
              <ul>
                <li><a href="recipe-listing.html">recipe listing list view</a></li>
                <li><a href="recipe-listing-grid.html">recipe listing grid view</a></li>
              </ul>
            </li>
            <li>
              <a href="recipe-listing.html">Recipe Detail</a>
              <ul>
                <li><a href="recipe-detail.html">Recipe detail version 1</a></li>
                <li><a href="recipe-detail2.html">Recipe detail version 2</a></li>
              </ul>
            </li>
            <li><a href="our-chefs.html">Chefs</a></li>
            <li><a href="blog.html">Blog</a>
              <ul>
                <li><a href="single.html">Single post</a></li>
              </ul>
            </li>
            <li><a href="elements.html">Elements</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li class="submit-recipe"><a href="submit-recipe.html">Submit Recipe</a></li>
          </ul>
        </nav>

      </div>
    </div>
    <!-- nav ends-->
  </div>
</header>